/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* scroll-behavior: smooth; */
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
}

html, body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}


body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.topBar {
  border-bottom: 1px solid #212529;;
  margin-bottom: 30px;
}

.topBar .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1110px) {
  .topBar .wrap {
    padding: 0 15px;
  }
}

.topBar a {
  display: block;
  text-decoration: none;
  color: #444444;
  font-size: 1.25rem;
}

.topBar a:hover {
  color: #6A33F8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.topBar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FFFFFF;
}

.topBar-menu.openMenu {
  max-height: 300px;
}

.topBar-menu a {
  padding: 20px 24px;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
}

.topBar-menu a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.topBar-menu li:last-child a {
  padding-right: 0;
}

.person{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .topBar-menu {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .topBar-menu li {
    width: 100%;
  }
  .topBar-menu a {
    text-align: center;
    padding: 15px;
    font-size: 1rem;
  }
  .topBar-menu a:hover {
    background-color: #6A33F8;
    color: #FFFFFF;
  }
  .topBar-menu li:last-child a {
    padding: 15px;
  }
  .person{
    display: none;
  }
}

.menuToggle {
  display: none;
  cursor: pointer;
}

.menuToggle:hover {
  color: #6A33F8;
}

@media (max-width: 767px) {
  .menuToggle {
    display: block;
    font-size: 2rem;
    padding: 15px;
  }
}

.logo {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

@media (max-width: 767px) {
  .logo {
    padding: 15px 0;
  }
}

/*-------------------------*/
/* swiper 
---------------------------*/

.swiper-outer{
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.slider-image{
  position: relative;
}
.banner-text{
  position: absolute;
  color: #FFFFFF;
  font-size: 2rem;
  left: 13%;
  bottom: 40px;
  font-weight: normal;
  background-color: rgb(135 126 118 / 71%);
  padding: 15px 50px;
}
.swiper-outer img {
  object-fit: cover;
  width: 1110px;
  height: 420px;
  display: inline-block !important;
}
.swiper-slide-active {
  z-index: 99
}
.button-prev , .button-next{
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  display: block;
  font-size: 40px;
  color: #6A33F8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.432);
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #6A33F8;
}
.button-prev{
  left: 5%;
}
.button-next{
  right: 5%;
}
@media screen and (max-width:1024px) {
  .banner-text{
    left: 6%;
  }
}

@media screen and (max-width:768px) {
  .swiper-outer {
    width: 100%;
  }
  .swiper-container {
    /* padding: 0px 15px; */
  }
  .banner-text{
    font-size: 1.8rem;
    left: 15px;
    padding: 15px 30px;
  }
  .swiper-outer img {
    width: 100%;
  }
  .button-prev{
    left: 15px;
  }
  .button-next{
    right: 15px;
  }
}

.section-title {
  text-align: center;
  font-size: 1.5rem; 
  /* 1.75rem */
  margin-bottom: 20px;
}

.bedAdvantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.bedAdvantage li{
  transition: transform 0.6s;
  overflow: hidden;
  background-color: #fff;;
}

.bedAdvantage li:hover .bedAdvantage-img{
  transform: scale(1.06);
}

.bedAdvantage-img {
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.bedAdvantage-text {
  text-align: center;
  font-size: 1.25rem;
}

.furniture-compare {
  background-color: #F8F8F8;
  padding: 50px 0 60px 0;
}

@media (max-width: 767px) {
  .furniture-compare {
    padding: 50px 15px 60px;
  }
}

@media (max-width: 767px) {
  .overflowWrap {
    overflow-x: scroll;
  }
}

.compare-table {
  width: 65%;
  margin: 0 auto;
}

.compare-table th, .compare-table td {
  text-align: center;
  padding: 15px 0;
}

.compare-table th {
  font-size: 1.25rem;
}

.compare-table tr {
  border-bottom: 1px solid #B9B9B9;
}

.compare-table tr td:first-child {
  text-align: left;
  font-size: 1.25rem;
}

.compare-table .material-icons {
  color: #6A33F8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.noInfo{
  text-align: center;
  color: #6A33F8;
  font-size: 22px;
  padding: 20px 0px;
}

@media (max-width: 767px) {
  .compare-table {
    width: 500px;
  }
  .compare-table th, .compare-table td {
    padding: 10px 0;
  }
  .compare-table th {
    font-size: 1rem;
  }
  .compare-table tr td:first-child {
    font-size: 1rem;
  }
}

.text-muted {
  color: #797979;
}

.recommendation {
  background-color: #dfdeda;
  padding: 60px 0;
}

/* .recommendation h3 {
  color: #FFFFFF;
} */

@media (max-width: 767px) {
  .recommendation {
    padding: 60px 15px;
  }
}

.recommendation-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendation-wall::-webkit-scrollbar {
  display: none;
}

.gallery-top, .gallery-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-top {
  margin-left: 95px;
  margin-bottom: 20px;
}

.recommendation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  min-width: 350px;
  background-color: #FFFFFF;
}

.recommendation-card img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.recommend-content {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommend-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}

.recommend-img img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.recommend-text {
  font-size: 0.875rem;
  color: #6A33F8;
}

.transport {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .transport li {
    margin-bottom: 20px;
  }
}

.transport-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .transport-intro {
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-around;
  }
}

.transport-intro li:nth-child(1), .transport-intro li:nth-child(2), .transport-intro li:nth-child(3) {
  position: relative;
}

.transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 49px;
  right: -55px;
  border: 10px solid #444444;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
    position: static;
    margin-top: 25px;
    border: 10px solid #444444;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: none;
  }
}

.transport-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transport-card .cardImg {
  width: 115px;
  height: 115px;
  border: 3px solid #444444;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.transport-card .material-icons {
  font-size: 50px;
}

.transport-card h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .transport-card  {
    width: 46%;
  }
  .transport-card .cardImg {
    width: 130px;
    height: 130px;
  }
}

.productDisplay {
  padding: 30px 15px;
}

.productSelect {
  border: 1px solid #B9B9B9;
  color: #797979;
  min-height: 38px;
  min-width: 255px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 30px;
}

@media (max-width: 540px) {
  .productSelect {
    width: 100%;
  }
}

.productWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productCard {
  position: relative;
  margin-right: 2%;
  width: 23%;
  margin-bottom: 30px;
}

.productCard img {
  min-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productCard a {
  display: block;
  background-color: #444444;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  border: none;
  margin-bottom: 8px;
  text-decoration: none;
}

.productCard a:hover {
  background-color: #6A33F8;
}

.productCard a, .productCard h3 {
  font-size: 1.25rem;
}

.productCard h3 {
  letter-spacing: -0.4px;
}

@media (max-width: 900px) {
  .productCard {
    width: 48%;
  }
}

@media (max-width: 540px) {
  .productCard {
    width: 100%;
    margin-right: 0%;
  }
}

.productType {
  position: absolute;
  top: 13px;
  right: -5px;
  background-color: #444444;
  color: #ffffff;
  padding: 8px 24px;
}

.originPrice {
  font-size: 1.25rem;
}

.nowPrice {
  font-size: 1.75rem;
}

.shoppingCart {
  background-color: #F8F8F8;
  padding: 60px 0;
}

.shoppingCart-table {
  width: 920px;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.25rem;
}

.shoppingCart-table th, .shoppingCart-table td {
  padding: 15px;
  vertical-align: middle;
}

.shoppingCart-table th {
  text-align: left;
}

.tbody tr {
  border-bottom: 1px solid #B9B9B9;
}


@media (max-width: 992px) {
  .shoppingCart-table {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .shoppingCart-table {
    width: 700px;
  }
}

.cardItem-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardItem-title img {
  margin-right: 15px;
  max-width: 80px;
}

.cardItem__quantity{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.minus, .add , .delete{
  vertical-align: middle;
  cursor: pointer; 
  user-select: none;
}
.minus:hover, .add:hover{
  color: #6A33F8;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.discardBtn {
  text-align: right;
}

.discardBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #444444;
}

.discardBtn a:hover {
  color: #6A33F8;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.discardAllBtn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #444444;
  border: 1.3px solid #444444;
  border-radius: 5px;
  font-size: 1.25rem;
}

.discardAllBtn:hover {
  background-color: #444444;
  color: #FFFFFF;
}

.orderInfo {
  padding: 60px 0;
}

.orderInfo-form {
  padding: 0 15px;
}

.orderInfo-formGroup {
  max-width: 365px;
  margin: 0 auto 15px;
}

.orderInfo-label {
  display: block;
  margin-bottom: 6px;
}

.orderInfo-input {
  width: 100%;
  min-height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  text-indent: 1rem;
  margin-right: 10px;
}

.orderInfo-inputWrap {
  position: relative;
}

.orderInfo-message {
  position: absolute;
  white-space: nowrap;
  left: 103%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #C72424;
}

@media (max-width: 767px) {
  .orderInfo-message {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.orderInfo-btn {
  display: block;
  min-width: 255px;
  min-height: 48px;
  background-color: #444444;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 50px auto 0;
  border-radius: 5px;
}

.orderInfo-btn:hover {
  background-color: #6A33F8
}

.orderPage-list {
  max-width: 1330px;
  padding: 60px 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orderPage-list .discardAllBtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 16px;
}

.orderPage-table {
  /* border: 1px solid #444444; */
  width: 100%;
}

.orderPage-table thead{
  /* background-color: #212529; */
  color: #212529;
  text-align: center;
}
thead tr{
  border-bottom: 1px solid #212529;
}
.orderPage-table__tbody tr:nth-child(2n){
  background-color: #f8f9fa;
}
.orderPage-table__tbody tr:hover{
  background-color: #eee;
}

.orderPage-table th, .orderPage-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  /* border: 1px solid #444444; */
}

@media (max-width: 1110px) {
  .orderPage-table {
    width: 1100px;
  }
}

.delSingleOrder-Btn {
  display: block;
  background-color: #C44021;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delSingleOrder-Btn:hover {
  opacity: 0.8;
}
.orderInfoMore{
  padding: 20px 10px;
  cursor: pointer;
}
.orderStatus {
  position: relative;
}

.orderStatus a {
  padding: 10px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
.orderStatus .processed{
  color: #6A33F8;
}
.orderStatus .untreated{
  color: #C44021;
}
.orderStatus-unDone {
  background-color: #747474;
}

.orderStatus-unDone:hover {
  background-color: #444444;
}

.orderStatus-done {
  background-color: #444444;
}

.orderStatus-done:hover {
  background-color: #747474;
}

.orderTableWrap {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.orderTableWrap::-webkit-scrollbar {
  display: none;
}
.flexbox{
  display: flex;
  justify-content:space-around;
  align-items:center;
}
.group{
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .flexbox{
    display: flex;
    flex-direction: column;
  }
  .group{
    min-width: 320px;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

/*-------------------------*/
/* footer
---------------------------*/

.footer{
  border-top: 1px solid #eeeeee;
  padding: 15px;
  background-color: #F8f8f8;
}
.container{
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .container{
    display: block;
  }
}
.footer__log{
  text-decoration: none;
  color: #444444;
  font-size: 1.1rem;
}


/*-------------------------*/
/* PopPage
---------------------------*/
.PopPage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all .6s;
}

.active{
  opacity: 1;
  visibility: visible;
}

.PopPage .figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PopPage .PopPage_popup{
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.3) translateY(-25%);
  transition: all 0.6s;
}
@media (max-width: 767px) {
  .PopPage.active .PopPage_popup{
    padding: 20px 10px;
  }
}

.PopPage.active .PopPage_popup{
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(0);
}

@media (max-width: 767px) {
  .PopPage.active .PopPage_popup{
    max-width: 100%;
    width: 85%;
  }
}

.PopPage .PopPage__header {
  margin: 0;
  padding: 6px 12px;
  font-size: 1.2rem;
  margin-bottom: .2em;
  color: #444;
  z-index: 51;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444;
}
.PopPage__header span{
  text-align: left;
}

.PopPage .PopPage__body{
  margin: auto;
  padding: 0px;
  position: relative;
  overflow: auto;
  color: #444;
  text-align: justify;
  font-size: 18px;
  z-index: 51;
  max-height: 50vh !important;
  margin: 20px 0 30px;
  border-radius: 10px;
  padding: 10px;
  background-color: #F8f8f8;
}
@media (max-width: 767px) {
  .PopPage .PopPage__body{
    margin: 20px 0 20px;
  }
}

.PopPage__body li{
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.PopPage__footer{
  background-color: #fff;
}
.PopPage .close {
  height: auto;
  display: inline-block;
  margin: 0 auto;
  padding:  10px 60px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: .2rem;
  background-color: #6A33F8;;
  z-index: 51;
  position: relative;
  z-index: 100;
  margin: auto;
  text-decoration: none;
  color:#fff;
  cursor: pointer;
}

.figure::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

/*-------------------------*/
/* goTop
---------------------------*/

.goTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  color: #6A33F8;
  text-decoration: none;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #adb5bd ;
  border-color: #6A33F8 ;
  border-radius: 50% ;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.75rem ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  padding: 5px ;
  cursor: pointer;
  z-index: 99;
}

@media (max-width: 767px) {
  .goTop {
    bottom: 15px;
    right: 15px;
  }
}

/* sweetAlert*/
.swal2-title {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

/* Utilities */
.mt-1{
  margin-top: 4px !important;
}
.mr-2{
  margin-right: 8px !important;
}
.p-2{
  padding: 16px 0 !important;
}
.border-bottom-1{
  border-bottom: 1px solid #444 !important;
}
.topBar-menu .active {
  color: #6A33F8;
}
.d-block{
  display: flex !important;
}
.d-flex{
  display: flex !important;
}
.justify-end{
  justify-content: flex-end !important;
}
.flex-basis-2{
  flex-basis: 50%;
}
.flex-basis-1{
  flex-basis: 25%;
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.text-primary{
  color: #6A33F8;
  text-decoration: none;
}
.text-secondary{
  color: #444444;
  text-decoration: none;
}
select{
  background-color: #fff;
}
.loading{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 50px 0 ;
}
* {
  /* outline: 1px solid red; */
}

